* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body, button{
    font-family: 'PT Sans', sans-serif;
}

.f-c-alternative {
    align-items: start;
}

.f-c-alternative button{
    border: 0;
    border-radius: 5rem;
    font-size: 1rem;
    font-weight: bold;
    letter-spacing: 0.2rem;
    margin-bottom: 2rem;
    padding: 0.7rem 3rem;

}

.f-c-alternative-image {
    display: flex;
}

.f-c-alternative-image img{
    width: 15.5rem;
}

.feature-card {
    background-color: #B5DDFF;
    border-radius: 15px;
    margin-bottom: 1.5rem;
    padding: 2rem 2rem 0 2rem;
    width: 100%
}

.feature-card p {
    font-weight: bold;
    line-height: 1.69rem;
    margin-bottom: 2rem;
}

.feature-cards-container {
    display: flex;
    flex-direction: column;

    margin: 0 2rem 3.8rem 2rem;
    padding-top: 3.2rem;
}

.flex-column-a-center {
    align-items: center;
    display: flex;
    flex-direction: column;
}

.flex-column-a-center i {
    font-size: 5rem;
    margin-bottom: 1.5rem;
}

.flex-column-a-center p {
    text-align: center;
}

h3 {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 1.5rem;
}

header {
    background-color: #0084FD;

}

nav {
    align-items: center;
    display: flex;
    justify-content: space-between;
    margin: 0 2rem;
    padding: 1rem 0;
}

nav i {
    color: white;
    font-size: 1.45rem;
}

nav img {
    width: 4.95rem;
}

.nav-links {
    display: none;
}

section {
    width: 100vw;
}

@media screen and (min-width: 376px) {
    
    .feature-cards-row {
        display: flex;
        gap: 20px;
    }
    
    .feature-card {
        width: calc(100% / 3);
    }
    
    .f-c-alternative{
        width: 70%;
    }

}