* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

header {
    background-color: #0084FD;
    width: 100vw;
}

nav {
    align-items: center;
    display: flex;
    justify-content: space-between;
    margin: 0 9%;
    padding: 1.4rem 0;
}

nav i {
    color: white;
    font-size: 1.8rem;
}

nav img {
    width: 6.2rem;
}

.nav-links {
    display: none;
}