* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body, button{
    font-family: 'PT Sans', sans-serif;
}

.f-c-alternative {
    align-items: start;
}

.f-c-alternative button{
    border: 0;
    border-radius: 5rem;
    font-size: 1.3rem;
    font-weight: bold;
    letter-spacing: 0.24rem;
    margin-bottom: 2.5rem;
    padding: 0.8rem 0;
    width: 16.8rem;

}

.f-c-alternative-image {
    display: flex;
}

.f-c-alternative-image img{
    width: 20rem;
}

.feature-card {
    background-color: #B5DDFF;
    border-radius: 1.5rem;
    margin-bottom: 2rem;
    padding: 2.6rem 2.6rem 0 2.6rem;
    width: 100%
}

.feature-card p {
    font-size: 1.3rem;
    font-weight: bold;
    line-height: 2.15rem;
    margin-bottom: 2.5rem;
}

.feature-cards-container {
    margin-bottom: 6.3rem;
    padding-top: 3.9rem;
}

.flex-column-a-center {
    align-items: center;
    display: flex;
    flex-direction: column;
}

.flex-column-a-center i {
    font-size: 6.4rem;
    margin-bottom: 1.9rem;
}

.flex-column-a-center p {
    text-align: center;
}

h3 {
    font-size: 1.9rem;
    font-weight: bold;
    margin-bottom: 2.1rem;
}

header {
    background-color: #0084FD;

}

.global-side-margin {
    margin: 0 2.6rem;
}

nav {
    align-items: center;
    display: flex;
    justify-content: space-between;
    padding: 1.4rem 0;
}

nav i {
    color: white;
    font-size: 1.8rem;
}

nav img {
    width: 6.2rem;
}

.nav-links {
    display: none;
}

section {
    width: 100vw;
}

@media screen and (min-width: 481px) {
    .feature-cards-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .feature-card {
        width: calc(100% / 3);
    }

    .f-c-alternative{
        /* width: calc(100% / ); */
    }

}